@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.score {
  font-size: 10px; /* Ajustez la taille de la police selon vos besoins */
}

.current-score {
  font-size: 30px;
}

.current-score-foot {
  letter-spacing: 5px;
}

.tab-button {
  width: 100px;
  height: 30px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  background-color: rgb(229 231 235);
  color: rgb(107 114 128);
  font-size: 14px;
  cursor: pointer;
}

.tab-button.active {
  background-color: rgb(75 85 99);
  color: #ffffffe1;
}

.text-sportselector {
  font-size: 8px;
  font-weight: thin;
}

@media screen and (min-width: 640px) {
  .text-sportselector {
    font-size: 10px;
    font-weight: thin;
    letter-spacing: 1px;
  }
}

.no-marge {
  margin-top: -30px;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 1); /* Ajoute un fond blanc opaque */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999; /* Assurez-vous que le loader est bien au-dessus de tout */
}

.loader-progress {
  height: 20px;
  border-radius: 5px;
  background: #1f2937;
  transition: width 0.3s ease-in-out;
}

.loader-text {
  font-size: 2rem;
  margin-top: 20px;
}
